.divSearchBar{
    margin:1em;
    font-size:1.2em;
    display:flex;
    justify-content: space-between;
}

.divSearchBar a{
    color:white;
    font-weight: bold;
    text-decoration: none;
    margin:0 1em;
    
}
.divSearchBar .divInputs{
    width:80%;
    
}
.divSearchBar input{
    padding:.5em 1em;
    border-radius: 5px;
    width:30%;
}
.divSearchBar button{
    background:transparent;
    color:white;
    border-radius: 5px;
    padding:.6em 4em;
    margin:.4em 1em;
    cursor: pointer;
    border:1px solid #E9C962;
}

.divSearchBar button:hover{
    background:#E9C962;
    color:#272822;
    /* font-size:1em; */
}